*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;  // 90% of 62.5% , 9/16
  }

  @include respond(tab-port) {
    font-size: 43.75%;  // 70% of 62.5% , 7/16
  }

  @include respond(phone) {
    font-size: 31.25%;  // 50% of 62.5% , 5/16
  }

  @include respond(big-desktop) {
    font-size: 75%;  // 120% of 62.5% , 12/16
  }
}

body {
  box-sizing: border-box;  
  padding: 3rem;
  
  @include respond(tab-port) {
    padding: 0;
  }
}