@keyframes moveInLeft {
  from {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80%{
    transform: translateX(1rem);
  }
  to {
    opacity: 1;
    transform: translateX(rem);
  }
}

@keyframes moveInRight {
  from {
    opacity: 0;
    transform: translateX(10rem);
  }
  80%{
    transform: translateX(-1rem);
  }
  to {
    opacity: 1;
    transform: translateX(rem);
  }
}

@keyframes moveInBottom {
  from {
    opacity: 0;
    transform: translateY(10rem);
  }
  80%{
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateX(rem);
  }
}
