.popup {
  height: 100vh;
  width: 100vw;
  background-color: rgba($color-black, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  // display: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  @supports (backdrop-filter: blur(10px)) {
    // backdrop-filter: blur(10px);
    backdrop-filter: blur(20px);
    background-color: rgba($color-black, 0.3);
  }



  &__content {
    @include absCenter;
    background-color: white;
    width: 75%;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.4);
    border-radius: 10px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.3s .2s;
  }
  
  &__left {
    display: table-cell;
    width: 33%;
    vertical-align: middle;
  }
  
  &__right {
    display: table-cell;
    width: 67%;
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    width: 100%;
    display: block;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    hyphens: auto;
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      position: absolute;
      display: inline-block;
      top: 2rem;
      right: 4rem;
      font-size: 3rem;
      cursor: pointer;
      text-decoration: none;
      color: $color-grey-dark-3;
    }
    &:hover,
    &:active {
      color: $color-primary-dark;
    }
  }

}