.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem;

    &--p1 {
      top: -2rem;
      left: 0rem;
    }
    &--p2 {
      top: 2rem;
      right: 0rem;
    }
    &--p3 {
      top: 10rem;
      left: 20%;
    }

    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translateY(-5px);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(.95);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    z-index: 10;
  }
}
